@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("javascripts/ext4/resources/css/ext-all.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("javascripts/ext4/resources/css/ext-neptune.css")" /> 
        
    	<script type="text/javascript" src="@routes.Assets.at("javascripts/ext4/ext-all.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/ext4/ext-neptune.js")"></script>
    	<script type="text/javascript"  src="@routes.Assets.at("javascripts/datos.js")"></script>
    </head>
    <body>
        @content
        <script type="text/javascript" src="@routes.Assets.at("javascripts/ext4/locale/ext-lang-es.js")"></script>
    </body>
</html>
